html {
  scroll-behavior: smooth;
}

img {
  height: 400px;
  object-fit: contain;
}

body {
  font-family: 'MedievalSharp', cursive;
  font-family: 'Nosifer', sans-serif;
  background-image: url();
  color: crimson;
  
}
  body { background-size: cover;}


  